appdirs==1.4.4
boto3==1.28.2
botocore==1.31.2
cramjam==2.6.2
fastparquet==2023.7.0
fsspec==2023.6.0
jmespath==1.0.1
nfl-data-py==0.3.0
numpy==1.24.4
packaging==23.1
pandas==2.0.3
pyarrow==12.0.1
python-dateutil==2.8.2
python-snappy==0.6.1
pytz==2023.3
s3transfer==0.6.1
six==1.16.0
tzdata==2023.3
urllib3==1.26.16
